<meta charset="utf-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% if page and page.excerpt %}
    <meta name="description" content="{{ page.excerpt | striptags }}" />
    <meta property="og:description" content="{{ page.excerpt | striptags }}" />
    {% elif post and post.excerpt %}
    <meta name="description" content="{{ post.excerpt | striptags }}" />
    <meta property="og:description" content="{{ post.excerpt | striptags }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.author }}" />

    {% if page and page.title%}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% elif post and post.excerpt %}
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="twitter:title" content="{{ post.title }}" />
    {% else %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="twitter:title" content="{{ site.title }}" />
    {% endif %}
